    <!DOCTYPE html>
<html>
<head>
    <title>Flights</title>
    <link rel="stylesheet" type="text/css" href="../css/flightsC.css"/>
</head>
<body >
<div>

    <div class="FromTo">
        <h4>

            Flights departing from ... to ...

        </h4>
    </div>
    <hr></hr>
    <table>
        <thead>
            <tr>
                <th>

                    Depart

                </th>
                <th>

                    Arrive

                </th>
                <th>

                    Duration

                </th>
                <th>

                    FlightNo.

                </th>
                <th>

                    Price

                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Cairo</td>
                <td>Berlin</td>
                <td>2 hours</td>
                <td>150</td>
                <td>500$</td>

            </tr>
        </tbody>
    </table>
    <div class="Proceeding">
        <a href="#/payment"> <button type="button" id="confirmFlights">Confirm</button></a>
        <a href="/#/"> <button type="button" id="cancelFlights">Cancel</button></a>

        
    </div>
</body>
</html>