<center>
    <br>
    <select required>
    <option value="roundTrip ">Round-trip</option>
    <option value="oneWay">One-way</option>
    </select>
    <select id="depart">
    </select>
    
    <br></br>

    <input  type ="text" required placeholder="From" id="from" />
    <br></br>
    <input  type ="text" required placeholder="To" id="to" />
    <br></br>
    <input  type ="text" required placeholder="Departing" id="departing" />
    <br></br>
    <input  type ="text" required placeholder="Returning" id="returning" /><br><br>
    <form >
    <input type="radio" name="type" value="economy" checked required> Economy<br>
    <input type="radio" name="type" value="business"> Business<br></br>
    </form>
    <a href="/#/flights"><button type ="button" id="searchFlights"> Search flights</button></a>

</center>

