 <!DOCTYPE html>
<html>
<head>
	<title>Terms</title>
	<link rel="stylesheet" type="text/css" href="../css/termsC.css"/>

</head>
<body>
  <!-- <div class="pga cf"> -->
        <h3 >

            1. General

        </h3>
        <p>

            The Lufthansa-website is operated by Deutsche Lufthansa AG, Von-Gablenz-Strasse 2-6, 50679 Cologne, (hereafter referred to as 'Lufthansa').

            <br></br>
            <br></br>

            Please review these terms and conditions carefully before using our website. Your use of the Lufthansa-website indicates your agreement to be bound by these terms and conditions.

            <br></br>
            <br></br>

            These terms and conditions also then apply when you use the Lufthansa-website or areas of it from other internet sites which provide access to the Lufthansa-website in full or in part.
            <br></br>

        </p>
  <!--   </div> -->


<div class="terms">

    <h3 >

        2. Proprietary rights

    </h3>
    <p>

       All trademark rights, copyright, database rights and other intellectual property rights to the contents of the Lufthansa-website, (as well as the organisation and layout of the website), together with the underlying software code, rest either with Deutsche Lufthansa AG or with its licensors. You may not, either in whole or in part, copy, modify, distribute or use or reproduce in other form contents of the Lufthansa-website, or the underlying software code, without the prior written consent of Deutsche Lufthansa AG.
       <br></br>
    </p>
</div>

<div class="terms">

    <h3>

        3. Permissible use

    </h3>
    <p>

      All Lufthansa-website online services (including the booking machine) are provided solely for the purpose of enabling you to check the availability of goods or services relating to your journey (the timetable, for example); make legitimate reservations; use our online check-in or transact other business with suppliers. You may only use the website in accordance with these terms and conditions and for the legally permitted purposes described above. In particular, you indicate your agreement to the following:
      <br></br>
    </p>
</div>

<div class="terms">
    <ul >
        <li>

            3.1 You may not use the Lufthansa-website in a manner which causes an infringement of the proprietary rights of others

        </li>
        <li>

            3.2 You may not utilise any devices, mechanisms, software or other scripts which could interfere with the working of the Lufthansa-website. This also includes uploading files infected with viruses.

        </li>
        <li>

            3.3 You may not take any action which could result in an unreasonable or excessive load on the Lufthansa infrastructure.

        </li>
        <li>

           3.4 You may not block, overwrite or modify any Lufthansa-generated content or in other way disrupt the Lufthansa-website.

        </li>
        <li>

            3.5 You may not reproduce information from the Lufthansa-website for commercial purposes. This also includes providing prices for Lufthansa flights on another website or another online server. In particular you may not copy, distribute, in other way use or reproduce discarded content from the Lufthansa-website with the help of 'robots', other search machine technologies or through other automatic mechanisms.

        </li>
        <li>

            3.6 You may not acquire, or attempt to acquire, any unauthorised access to any of our networks, by whatever means.

        </li>
        <li>

            3.7 You may not make any unauthorised, false or fraudulent bookings, in particular any bookings which are paid for with credit cards or bank account details belonging to a third party who has not consented to this.

        </li>
    </ul>
</div>
<div class="terms">

    <h3>

        4. Consequences of improper use

    </h3>
    <p>

        Without prejudice to our other rights (irrespective of whether they are based on law or other regulations), we reserve the right to cancel your booking without reference to you and/or to deny you access to the Lufthansa-website if you have contravened these terms and conditions.
<br></br>
    </p>
    

</div>
<div class="terms">

    <h3>

        5. Changes to this website

    </h3>
    <p>

        We reserve the right, at any time and without prior notice, to undertake improvements or modifications in respect of the information, services, products and other contents of the Lufthansa-website. We further reserve the right to modify these terms and conditions at any time. Any such modification shall be effective immediately upon posting the amended terms and conditions on the Lufthansa-website. Accordingly, your continued access or use of the Lufthansa-website is deemed to be your acceptance of the modified terms and conditions.
<br></br>
    </p>
    

</div>


<div class="terms">

    <h3>

        6. Links to other websites

    </h3>
    <p>

       This website may contain links or references to other websites which are not operated by Lufthansa. Unless otherwise specified, we do not endorse any of these other websites and expressly disassociate ourselves herewith from all contents of these sites. This declaration applies to all links to external sites covered by Lufthansa and to all the contents of these sites to which these links lead.

        
        <br></br>

        We reserve the right to make the link to other websites contingent upon our express written consent and to withdraw our consent to a link at any time.
<br></br>
    </p>
    

</div>

<div class="terms">

    <h3>

        7. Legal disclaimer

    </h3>
    <p>

        Lufthansa accepts no liability whatsoever for the topicality, accuracy, completeness or quality of the information provided by third parties (e.g. co-operation partners, tour operators, airport operators). Claims for liability against Lufthansa relating to damages of a material or non-material kind, which were caused by usage or non-usage of the information presented, are precluded, provided that there is no negligence or fraudulent misrepresentation on Lufthansas part.
 <br></br>
    </p>
  

</div>
<div class="terms">

    <h3>

        8. Storage of IP-addresses

    </h3>
    <p>

        When you visit the Lufthansa-website, our web server automatically saves the IP-address of your Internet Service Provider, the website you are visiting us from, the web pages that you visit on our site and the date and duration of the visit. In the event of infringements of these terms and conditions, we will keep the stored IP-address to use in pursuance of civil law claims and for the resolution of criminal offences.
 <br></br>
    </p>
    

</div>

</body>
</html> 